<!DOCTYPE html>
<html>
    <head>
        <title>AdonisJS Blog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ style('w3') }}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <style>body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}</style>
    </head>
    <body class="w3-light-grey">
        <div class="w3-content" style="max-width:1400px">
            <header class="w3-container w3-center w3-padding-32"> 
                <h1><b><a href="/">Anıl Şenocak</a></b></h1>
                <p><span class="w3-tag">AdonisJS</span></p>
            </header>
            <div class="w3-row">
                <div class="w3-col l8 s12"> 
                    @!section('icerik')
                </div>
                <div class="w3-col l4">
                    <div class="w3-card w3-margin w3-margin-top">
                        <img src="https://www.w3schools.comhttps://www.w3schools.com/w3images/avatar_g.jpg" style="width:100%">
                        <div class="w3-container w3-white">
                        <h4><b>My Name</b></h4>
                        <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
                        </div>
                    </div>
                    <hr>
                    <div class="w3-card w3-margin">
                        @!section('kategoriler')
                    </div>
                    <hr> 
                    <hr>
                    <div class="w3-card w3-margin">
                        @!section('yorumlar')
                    </div>
                </div>
            </div><br>
        </div>
        <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top"> 
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </footer> 
    </body>
</html>